.centerText {
    background-color: black;
    color:  white;
    /* make boundary & text size responsive */
    width: 5.5vw; 
    height: 5.5vw; 
    font-size: 1vw;
    border: 0.5vw solid white; 
    transition-timing-function: ease-out;
    transition: 0.3s;
}

.centerText:hover{
    cursor: pointer;
    background-color: white;
    color:  black;
    transition-timing-function: ease-in;
    transition: 0.3s;
    border: 0.5vw solid black; 
}

.hideText{
    display: none;
}