.App {
  width: 100vw;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1100fa;
}

.mainContainer{
  margin: 0 auto;
}

.centerMain{
  text-align: center;
  width: 13vw; 
  height: 13vw;
  position: absolute;
  left: 43.75vw;
  top: 16.75vw; 
  display: inline-flex;
  flex-wrap: wrap;
}

.tatamiCanvas{   
  border: 0.5vw solid black; 
  position: absolute;
  margin: 0 auto;
}

#one{
  width: 15vw;
  height: 30vw;  
  left: 27vw;  
}

#two{
  width: 30vw;
  height: 15vw;
  left: 42.5vw;
}

#three{
  width: 15vw;
  height: 30vw; 
  left: 57.5vw;
  top: 15.6vw; 
}

#four{
  width: 30vw;
  height: 15vw;
  left: 27vw;  
  top: 30.6vw; 
}

